{% extends "users_folder/parent_layout.html" %}
{% block content %}
<h2>Confirm Payment</h2>

<table class="table">
    <tbody>
        <tr>
            <th scope="col"><h6><span style="color: rgb(66, 64, 64);">Payment Description</span></h6></th>
            <td><span>{{selected_fee.associated_fee.fees_desc}}</span></h4></td>
        </tr>
        <tr>
            <th scope="col"><h6><span style="color: rgb(66, 64, 64);">Academic Session</span></h6></th>
            <td><span>{{selected_fee.associated_fee.feeses.acases_year}}</span></h4></td>
        </tr>
        <tr>
            <th scope="col"><h6><span style="color: rgb(66, 64, 64);">Academic Term</span></h6></th>
            <td><span>{{selected_fee.associated_fee.feeterm.acaterm_name}}</span></h4></td>
        </tr>
        <tr>
            <th scope="col"><h6><span style="color: rgb(46, 45, 45);">Amount</span></h6></th>
            <td><span>{{selected_fee.stdfee_amount}}</span></td>
        </tr>
        <tr>
            <th scope="col"><h6>Refrence Number</h6></th>
            <td><h4><span style="color: red;">{{ref_no}}</span></h4></td>
        </tr>
    </tbody>
</table>

<a class='btn btn-success noround' href='/parent/initialize/paystack/'>Make Payment Now</a>
{% endblock %}

