{% extends "admin_folder/admin_layout.html" %}

{% block contents %}
        <h1 style="color: blue;">OverDue Payment Records</h1>
        <hr><hr>
                <!--Overdue Payments Records Table Starts here-->
                <div id="overduepay">
                    <table class="table table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th>S/N</th>
                                <th>Student Name</th>
                                <th>Reg.Number</th>
                                <th>Fee Desc</th>
                                <th>Amount</th>
                                <th>Session</th>
                                <th>Term</th>
                                <th>Level</th>
                                <th>Class</th>
                                <th>Campus</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in overdue_payments %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ u.associated_student.std_firstname }}{{" "}}{{ u.associated_student.std_lastname }}</td>
                                <td>{{ u.associated_student.std_regnumber }}</td>
                                <td>{{ u.associated_fee.fees_desc }}</td>
                                <td>{{ u.stdfee_amount }}</td> 
                                <td>{{ u.associated_fee.feeses.acases_year }}</td>
                                <td>{{ u.associated_fee.feeterm.acaterm_name }}</td> 
                                <td>{{ u.associated_student.stdlevel.level_name }}</td>
                                <td>{{ u.associated_student.stdclass.class_name }}</td>
                                <td>{{ u.associated_student.stdcamp.camp_name }}</td>
                                <td><span><a href="#" class="btn btn-sm btn-info rounded">Edit</a><a href="#" class="btn btn-sm btn-danger rounded">Del</a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--Overdue Payments Records Table Ends here-->
{% endblock %}