{% extends "admin_folder/admin_layout.html" %}

{% block contents %}
<div id="selectusertype" class="row align-items-center">
    <div class="mx-auto col-10 col-md-8 col-lg-5">
    
      <form class="bg-light p-5 rounded text-center" action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {% set m = get_flashed_messages(with_categories=True) %}
        {% if m: %}
        {%for cat,msg in m:%}
            {% if cat == "error"%}
                <div class="alert alert-danger">{{msg}}</div>
            {% else: %}
                <div class="alert alert-success">{{msg}}</div>
            {% endif %}
        {% endfor %}
        {% endif %}

        <h2>Create User Account</h2>
        <label for="usertype"><b>Select User Type &nbsp;</b></label><br>
        <input class="userval" name="usertype" type="radio" value="students"><b> Student &nbsp;</b></input>
        <input class="userval" name="usertype" type="radio" value="parents"><b> Parents &nbsp;</b></input>
        <input class="userval" name="usertype" type="radio" value="admin"><b> Admin</b></input>
      </form>
    </div>
  </div>

                <!--Register Admin Starts here-->
                <div id="staffreg" class="row align-items-center">
                    <div class="mx-auto col-10 col-md-8 col-lg-5">
                      <form id="staffform" class="bg-light p-5 rounded" action="" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <h2>Staff Registration Form</h2><br>
                        <div class="form-group">
                        <div class="form-row">
                          <div class="col-6 col-md"> 
                              <label for="staffmail"><b>Email</b> (Use official email)</label>
                              <input type="email" class="form-control" id="staffemail" placeholder="Enter your official email.." required>
                          </div>
                          <div class="col-6 col-md">
                              <label for="staffID"><b>Staff ID</b></label>
                              <input type="text" class="form-control" id="staffID" placeholder="Enter your ID." required>
                          </div>
                        </div><br>
                        <div class="form-row">
                          <div class="col-6 col-md"> 
                              <label for="stafffname"><b>firstName</b></label>
                              <input type="text" class="form-control" id="stafffname" name="stafffname" placeholder="Enter firstName.." required>
                          </div>
                          <div class="col-6 col-md">
                              <label for="safflname"><b>lastName</b></label>
                              <input type="text" class="form-control" id="stafflname" name="stafflname" placeholder="last name." required>
                          </div>
                        </div><br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">Register</button>
                        </div>
                      </form>
                    </div>
                  </div>
        <!--register Admin Ends here-->


        <!--Register Patents Starts here-->
                <div id="parentsreg" class="row align-items-center">
                    <div class="mx-auto col-10 col-md-8 col-lg-5">
                      <form id="parentsform" class="bg-light p-5 rounded" action="" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <h2>Parents/Guardian Reg. Form</h2><br>
                        <div class="form-group">
                            <div class="col-6 col-md">
                                <label for="childreg"><b>Child/Ward Reg. Number</b> (Enter one even Reg number)</label>
                                <input type="text" class="form-control" id="childreg" placeholder="Enter Child/ward Reg no..." required>
                            </div>
                            <div class="col-6 col-md"> 
                                <label for="parentsName">FullName</label>
                                <input type="text" class="form-control" id="parentsName" name="parentsName" placeholder="Enter fullname.." required>
                            </div>
                          </div><br>
                        <div class="form-row">
                          <div class="col-6 col-md"> 
                              <label for="parentEmail">Email</label>
                              <input type="email" class="form-control" id="parentemail" placeholder="Enter your email.." required>
                          </div>
                          <div class="col-6 col-md">
                              <label for="parentsPhone">Phone Number</label>
                              <input type="text" class="form-control" id="parentsphone" placeholder="Enter your Phone no." required>
                          </div>
                        </div><br>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary form-control">Register</button>
                      </div>
                      </form>
                    </div>
                </div>
        <!--register Parents Ends here-->

        <!--Register Students Starts here-->
                <div id="studentsreg" class="row align-items-center">
                        <div class="mx-auto col-10 col-md-8 col-lg-5">
                          <form id="studentupdate" class="bg-light p-5" action="" method="post">
                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                              <h2>Students Registration Form</h2>
                              <div class="form-row"> <!-- Bootstrap's form-row class -->
                                  <div class="col-6 col-md"> 
                                      <label for="regnumber">Registration Number</label>
                                      <input type="text" class="form-control fetch_reg" id="regnumber" disabled>
                                  </div>
                                  <div class="col-6 col-md">
                                      <label for="enro">Date of Birth</label>
                                      <input type="date" class="form-control enroment fetch_reg" id="enro" disabled>
                                  </div>
                              </div><br>
                          
                          <div class="form-row"> <!-- Bootstrap's form-row class -->
                            <div class="col-6 col-md"> 
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name" disabled>
                            </div>
                            <div class="col-6 col-md">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name" disabled>
                            </div>
                          </div><br>
                          <div class="form-row"><!-- Bootstrap's form-row class -->
                            <div class="col-6 col-md"> 
                                <label for="email">Email Adress</label>
                                <input type="email" class="form-control" id="email" placeholder="email" required>
                            </div>
                            <div class="col-6 col-md">
                                <label for="dob">Enrroment Date</label>
                                <input type="date" class="form-control" id="enrrol_date" disabled>
                            </div>
                          </div><br>
                          <div class="form-row"> <!-- Bootstrap's form-row class -->
                                <div class="col-6 col-md"> 
                                    <label for="parentsName">Parent/Guardian Name</label>
                                    <input type="text" class="form-control" id="parentstName" placeholder="Parent/Guardian name" required>
                                </div>
                                <div class="col-6 col-md">
                                    <label for="parentsPhone">Parent/Guardian phone</label>
                                    <input type="text" class="form-control" id="parentsPhone" placeholder="Parents/Guardian phone..." required>
                                </div>
                          </div><br>
                          <div id="academiclevelid" class="form-group">
                            <label for="usertype"><b>Academic Class &nbsp;</b></label>
                              <select class="academiclevel" name="academiclevel" type="text" value="" id="academiclevel">
                                <option value="">Select Level</option>
                                <option class="academiclevel" name="academiclevel" type="text" value="primary" id="academiclevel">Primary</option>
                                <option class="academiclevel" name="academiclevel" type="text" value="secondary" id="academiclevel">Secondary</option>
                              </select>
                          </div>
                          <!-- For primary -->
                          <div class="form-group primarylevel">
                            <label><b>Select Class</b></label>
                              <select>
                                <option value="">Select Class</option>
                                <option name="academicClass" id="academicClass" value="Primary One">Primary ONE</option>
                                <option name="academicClass" id="academicClass" value="Primary TWO">Primary TWO</option>
                                <option name="academicClass" id="academicClass" value="Primary THREE">Primary THREE</option>
                                <option name="academicClass" id="academicClass" value="Primary FOUR">Primary FOUR</option>
                                <option name="academicClass" id="academicClass" value="Primary FIVE">Primary FIVE</option>
                                <option name="academicClass" id="academicClass" value="Primary SIX">Primary SIX</option>
                              </select>
                          </div>
                          <!-- For secondary -->
                          <div class="form-group secondarylevel">
                            <label><b>Select Class</b></label>
                              <select>
                                <option name="academicClass" id="academicClass" value="">Select Class</option>
                                <option name="academicClass" id="academicClass" value="JSS One">JSS ONE</option>
                                <option name="academicClass" id="academicClass" value="JSS TWO">JSS TWO</option>
                                <option name="academicClass" id="academicClass" value="JSS THREE">JSS THREE</option>
                                <option name="academicClass" id="academicClass" value="SS ONE">SS ONE</option>
                                <option name="academicClass" id="academicClass" value="SS TWO">SS TWO</option>
                                <option name="academicClass" id="academicClass" value="SS THREE">SS THREE</option>
                              </select>
                          </div>
                              <br>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">Register</button>
                        </div>
                        </form>
                    </div>
                </div>
        <!--Register Students Ends here-->
{% endblock %}